.playerContainer{
    justify-content: center;
    align-content: center;
}
.progressContainer{
   flex: 1;

}
.progress-bar{
    width: 500px !important;
    background-color: #000000 !important;
}

.playerBtns{
    flex: 1;
}

.btn{
    background-color: none;
}

.btn:hover{
    background-color: #e7e7e7 !important;
}